body{
  background-color:#C8DBBE;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 5%
}
img{
  height: 100px;
}
h1{
  color: #9F8772;
}
h2{
  color: #9F8772;
}
h3{
  color: #9F8772;
}
h4{
  color: #9F8772;
}
